<%= simple_form_for @place, html: { class: "horizontal-form"} do |f| %>
<table>

  <tr><td style="width: 200px;"><%= f.input :name, input_html: {style: 'width: 200px'} %></td></tr>
  <tr><td><%= f.input :address, input_html: { style: 'width: 200px'} %></td></tr>
  <tr><td><%= f.input :city, input_html: { style: 'width: 200px'} %></td></tr>
  <tr><td><%= f.input :state, collection: us_states, input_html: { style: 'width: 55px'} %></td><td><%= f.input :zip, input_html: { style: 'width: 100px'} %></td></tr>
  <tr><td><%= f.input :zip, input_html: { style: 'width: 200px'} %></td></tr>

  <tr><td><%= f.input :phone, input_html: { style: 'width: 200px'} %></td></tr>
  <tr><td><%= f.input :kid_menu, as: :boolean %></td></tr>
  <tr><td><%= f.input :score %></td></tr>
  <tr><td><%= f.input :place_type, collection: types %></td></tr>
  <tr><td><%= f.input :avatar, as: :file %></td></tr>
  <tr><td><%= f.button :submit %></td></tr>
</table>
<% end %>