<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
		<%= form_for @place, url: { action: "create" }, html: {style: "visibility: none;"} do |f| %>
			

		  <div class="field form-group">
		  	<%= f.label :name%>
		  	<%= f.text_field :name %>
		  </div><br>
		  <div class="field form-group">
		  	<%= f.label :address %>
		  	<%= f.text_field :address  %>
		  </div>
		  <br>
		  <div class="field form-group">
		  	<%= f.label :city %>
		  	<%= f.text_field :city  %>
		  </div>
		  <div class="field form-group">
		  	<%= f.label :state %>
		  	<%= f.text_field :state  %>
		  </div>
		  <div class="field form-group">
		  	<%= f.label :zip %>
		  	<%= f.text_field :zip  %>
		  </div>

		  <div class="field form-group">
		  	<%= f.label :phone %>
		  	<%= f.text_field :phone  %>
		  </div>
		  <div class="field form-group">
		  	<%= f.label :kid_menu %>
		  	<%= f.check_box :kid_menu  %>
		  </div>
		  <div class="field form-group">
		  	<%= f.label :score %>
		  	<%= f.text_field :score  %>
		  </div>
		  <div class="field form-group">
		  	<%= f.label :place_type %>
		  	<%= f.select :place_type, options_for_select([["Restaurant", "Restaurant"], ["Hotel", "Hotel"], ["Attraction", "Attraction"], ["Park", "Park"]])  %>
		  </div>
		  <div class="field form-group">
		  	<%= f.label :avatar %>
		  	<%= f.file_field :avatar %>
		  </div>
		  <br>
		  <div class="actions">
		    <%= f.submit "Save", class: "btn btn-primary" %>
		  </div>
		
		

			</div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div> --> 
   	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	<% end %>

<% @sorted = @places.sort_by { |i| -i.scoreme } %>
<% @sorted.each do |place| %>
	<table class="index" style="margin: auto; width: 750px; ">
		<tr style="border-bottom: 1px solid black;">
			<th class="place_width"><%= link_to place.name, place %><% if current_user.admin? %>     <%= link_to "Edit", edit_place_path(place) %><% end %></th>
			<th>
				<% if place.ratings != [] %>
					<% if place.average_rating == 4 %>
						<%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-on.png" %>
					<% elsif place.average_rating == 3 %>
						<%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-on.png" %>
					<% elsif place.average_rating == 5 %>
						<%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-on.png" %>
					<% elsif place.average_rating >= 2.75 && place.average_rating <= 3 %>
						<%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-on.png" %>
					<% elsif place.average_rating > 2.25 && place.average_rating <= 2.74 %>
						<%= image_tag "star-on.png" %><%= image_tag "star-on.png" %><%= image_tag "star-half.png" %>
	
					<% elsif place.average_rating > 1.5 && place.average_rating <= 2 %>
						<%= image_tag "star-on.png" %><%= image_tag "star-on.png" %>
						
					<% elsif place.average_rating <= 1.5 && place.average_rating > 1.00 %>
						<%= image_tag "star-on.png" %><%= image_tag "star-half.png" %>
					<% end %>
				<% end %>
			</th>
			<th style="text-align: right; "><%= place.scoreme.to_i %></th>
		</tr>
		<table class="tborder" style="margin: auto; width: 750px; margin-top: -1px;">
			<tr style="height: 27px; vertical-align: top;"><td><%= place.place_type %></td></tr>
			<tr>
				<td style="text-align: left; width: 25%;"><%= image_tag place.avatar.url(:thumb) %></td>
				<td style="width: 75%; vertical-align: top;">
						<table style="width: 100%;">
							<tr>
								<td class="listItems" style="width: 50%; text-align: left;"><%= place.address %></td>
								<td class="listItems" style="width: 10%; text-align: right;">score:</td><td class ="listData" style="width: 40%;"><%= place.score %></td>
							</tr>
							<tr>
								<td class="listItems" style="text-align: left; vertical-align: top;"><%= place.city %>, <%= place.state %> <%= place.zip %></td>
								<td class="listItems" style="text-align: right;">city:</td><td class ="listData" ></td>
							</tr>
							<tr>
								<td class="listItems" style="text-align: left; vertical-align: top;"><%= place.phone %></td>
							</tr>	

						</table>	
				</td>
			</tr>
			
			<tr style="height: 10px;"><td></td></tr>
			<% if place.comments.last != nil %>
					<tr><td colspan="3" style="background-color: rgba(280, 230, 80, .3);"><%= place.comments.last.comment_title %></td></tr>
					<tr><td colspan="3" style="background-color: rgba(280, 230, 80, .3);">"<%= place.comments.last.comment %>"</td></tr>
			<% end %>
		</table>

	</table>
	<br>
	<br>
	<% if place.ratings != [] %>
		<div id="collapse" data-show="<%= place.average_rating %>"></div>
	<% end %>
<% end %>
<div style="margin-left: 200px;"><%= debug(params) if Rails.env.development? %></div>

